################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Codewars/v14
/.vs/Codewars/v15
/.vs
/C
/Codewars/bin/Debug
/Codewars.Test/obj
/Codewars/obj
/Codewars.Test/bin/Debug
/Katas/.vscode
*.suo
.idea
.pyc
__pycache__/
venv/
node_modules/
build/
dist/
coverage/
