################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/C
/Codewars/bin/Debug
obj
bin
*.suo
.idea
.pyc
__pycache__/
venv/
node_modules/
build/
dist/
coverage/
